<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentHouse"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".OnBoard.ActivityOnBoard"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityOwnerInformation"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.Admin_ActivityStatistics"
            android:exported="false" />

        <receiver android:name=".BroadcastReceiver.MyAlarmReceiver" />

        <activity
            android:name=".Admin.Activity.Admin_ActivityBaoCaoNguoiDung"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.Admin_ActivityThongTinNguoiDung"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.Admin_ActivityThongTinPhong"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityContactAdmin"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityBlocked"
            android:exported="false" />
        <activity
            android:name=".Activity.FindByMapsActivity"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.Admin_ActivityCreateSchedule"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.Admin_ActivityScheduledNotification"
            android:exported="false" />
        <activity
            android:name=".Admin.Activity.Admin_ActivityMain"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ActivityMain"
            android:exported="false" />

        <service
            android:name=".FCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Chat.Dashboard.ActivityChat"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityReportError"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityDetailAccount"
            android:exported="false" /> <!-- <service -->
        <!-- android:name=".Async.getCurrentLocationService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" /> -->
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true" />

        <activity
            android:name=".Activity.ActivityAccountNotification"
            android:exported="false" />
        <activity
            android:name=".Activity.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Activity.ActivityFullImage"
            android:exported="false" />
        <activity
            android:name=".Activity.NoficationActivity"
            android:exported="false"
            android:parentActivityName=".Activity.ActivityMain" />
        <activity
            android:name=".Activity.ActivityPost"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityDetails"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityAccountInformation"
            android:exported="false" />
        <activity
            android:name=".Activity.FullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivitySignUp"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySent"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityLogIn"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityRecentSeen"
            android:exported="false" />

        <service
            android:name=".Chat.Firebase.MessingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BroadcastReceiver.InternetBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>

                <!-- Intent filters for broadcast receiver -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>