<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.renthouse">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentHouse"
        tools:targetApi="31">
        <activity
            android:name=".Activity.FullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailsActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activity.ActivityChat"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySearch"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityPost"
            android:exported="true" />
        <activity
            android:name=".Activity.ActivitySignUp"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySent"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityForgotPassword"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivityLogIn"
            android:exported="false" />
        <activity
            android:name=".Activity.ActivitySplash"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ActivityFilter"
            android:exported="true"></activity>
        <activity
            android:name=".Activity.ActivityLiked"
            android:exported="true"></activity>
    </application>

</manifest>